Example/lextest.Ashridge.Order.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="lexdef">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="recordtypes">
          <xs:complexType>
            <xs:sequence>
              <xs:element maxOccurs="unbounded" name="record">
                <xs:complexType>
                  <xs:attribute name="type" type="xs:unsignedByte" use="required" />
                  <xs:attribute name="name" type="xs:string" use="required" />
                  <xs:attribute name="assembly" type="xs:string" use="required" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="assemblies">
          <xs:complexType>
            <xs:sequence>
              <xs:element maxOccurs="unbounded" name="assembly">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element maxOccurs="unbounded" name="property">
                      <xs:complexType>
                        <xs:attribute name="name" type="xs:string" use="required" />
                        <xs:attribute name="destname" type="xs:string" use="optional" />
                        <xs:attribute name="type" type="xs:string" use="optional" />
                        <xs:attribute name="enumerate" type="xs:string" use="optional" />
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                  <xs:attribute name="name" type="xs:string" use="required" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute name="name" type="xs:string" use="required" />
      <xs:attribute name="version" type="xs:decimal" use="required" />
      <xs:attribute name="assembly" type="xs:string" use="required" />
    </xs:complexType>
  </xs:element>
</xs:schema>